@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Apply Poppins font globally */
body {
  font-family: 'Poppins', sans-serif;
}

@layer utilities {
  @keyframes dropdown {
    from {
      opacity: 0;
      transform: translateY(-5%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-dropdown {
    animation: dropdown 0.2s ease-out forwards;
  }
}
